{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto px-4 mt-10 md:px-8 lg:px-16 xl:px-24">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == 'warning' %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% elif category == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
            {% elif category == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% endif %}
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
	    <script>
                setTimeout(function () {
                    document.querySelector(".alert").style.display = "none";
                }, 4000); // Adjust the time in milliseconds (5000ms = 5 seconds)
            </script>
        {% endif %}
    {% endwith %}
    
    <h1 class="text-2xl font-semibold mb-3 border-b pb-4 lg:text-left" style="display: flex; justify-content: center;">Verify Your Password</h1>
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card mx-auto">
            <div class="card" style="width: auto; margin: 20px auto;">
                <div class="card-body">
                    <form class="forms-sample" method="post">
                        <div class="form-group">
                            <label for="current_password" style="font-weight: bold; font-size: 16px; color: #333;">Current Password</label>
                            <input type="password" class="form-control" id="current_password" name="current_password" required>
                        </div>
                        <button type="submit" class="btn btn-primary" style="background-color: #007ACC; border-color: #007ACC;">Verify Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
