{% extends 'admin/base.html' %}


{% block content %}
  <div class="content-wrapper">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-dismissible fade show {% if category == 'success' %}alert-success{% elif category == 'error' %}alert-danger{% else %}{{ category }}{% endif %}" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                setTimeout(function () {
                    document.querySelectorAll('.alert').forEach(function(alert) {
                        alert.style.display = 'none';
                    });
                }, 4000); // Adjust the time in milliseconds (2000ms = 2 seconds)
            });
        </script>
    {% endif %}
{% endwith %}

{% if current_user.is_authenticated and current_user.role == 1 %}
    <div class="row">
      <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <h3 class="mb-0">{{ staff_count }}</h3>
                </div>
              </div>
              <div class="col-3">
                <div class="icon icon-box-info">
                  <span class="mdi mdi-account icon-item"></span>
                </div>
              </div>
            </div>
            <h6 class="text-muted font-weight-normal">Staff Members</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <h3 class="mb-0">{{ user_count }}</h3>
                </div>
              </div>
              <div class="col-3">
                <div class="icon icon-box-success ">
                  <i class="mdi mdi-laptop"></i>
                </div>
              </div>
            </div>
            <h6 class="text-muted font-weight-normal">Registered Customers</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <h3 class="mb-0">{{ car_count }}</h3>
                </div>
              </div>
              <div class="col-3">
                <div class="icon icon-box-danger">
                  <span class="mdi mdi-car icon-item"></span>
                </div>
              </div>
            </div>
            <h6 class="text-muted font-weight-normal">Registered Cars</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <h3 class="mb-0">{{ booking_count }}</h3>
                </div>
              </div>
              <div class="col-3">
                <div class="icon icon-box-danger">
                  <span class="mdi mdi-calendar icon-item"></span>
                </div>
              </div>
            </div>
            <h6 class="text-muted font-weight-normal">Bookings</h6>
          </div>
        </div>
      </div>
</div>
    {% else %}
      <div class="alert alert-danger">
        <p>You do not have permission to view this page.</p>
      </div>
    {% endif %}
</div>
{% endblock %}
