{% extends 'admin/base.html' %}

{% block content %}
<div class="content-wrapper">

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-dismissible fade show {% if category == 'success' %}alert-success{% elif category == 'error' %}alert-danger{% else %}{{ category }}{% endif %}" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                setTimeout(function () {
                    document.querySelectorAll('.alert').forEach(function(alert) {
                        alert.style.display = 'none';
                    });
                }, 3000); // Adjust the time in milliseconds (2000ms = 2 seconds)
            });
        </script>
    {% endif %}
{% endwith %}

  <div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Edit Profile</h4>
          <form class="forms-sample" method="post">
            <div class="form-group">
              <label for="name">First Name</label>
              <input type="text" class="form-control" id="name" name="name" value="{{ g.user.name }}" required>
            </div>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" class="form-control" id="last_name" name="last_name" value="{{ g.user.last_name }}" required>
            </div>
            <div class="form-group">
              <label for="phone_number" style="font-weight: bold; font-size: 16px; color: #333;">Phone Number</label>
              <input type="tel" class="form-control" id="phone_number" name="phone_number" value="{{ g.user.phone_number }}" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" value="{{ g.user.email }}" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
              <label for="confirm_password">Confirm Password</label>
              <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
